*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-secondary-color: #0084FD;
	--color-dark-color: #333333;
	--color-light-color: #FFFFFF;
	--color-primary-color: #9792E4;
	--color-bg-card: #B5DDFF;
	--color-contrast-color: #FCC060;
	--color-text: #424242;

    --color-transparent: rgba(255, 0, 0, 0);
}

body{
    font-family: 'Space Grotesk', sans-serif;
  
    
}
/* utilities */
.hidden{
    display: none;
}

.flex{
    display: flex;
}

.fl-row{
    flex-direction: row;
}

.fl-column{
    flex-direction: column;
}

.align-center{
    align-items: center;
    
}

.justify-start{
    justify-content: flex-start;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.btn{
    width: fit-content;
    /* center the content */
    line-height: 100%;
    text-align: center;
    color: var(--color-light-color);
    padding: 5px;
    border-radius: 15px;
}

#btn-header{
    background-color: var(--color-light-color);
    color: var(--color-dark-color);
}

#btn-planning{
    font-weight: lighter;
    font-size: 1.5em;
    background-color: var(--color-secondary-color);
    padding: 10px 40px;
    margin: 30px 0;
}

#btn-testimonials{
    background-color: var(--color-primary-color);
    color: black;
    
    font-size: 1.5em;
    letter-spacing: 1.5em;
    border-radius: 50%;
}

#btn-features{
    background-color: var(--color-primary-color);
    
    font-weight: bolder;
    padding: 10px 20px;
}

#btn-about-us{
    background-color: var(--color-primary-color);
    
    font-weight: bolder;
    padding: 5px;

}


#btn-get-started{
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: var(--color-light-color);
    color: var(--color-primary-color);
    border-radius: 30px;
}


ul{
    list-style-type: none;
}

.img-container{
    display: block;
}
img{
    display: block;
}

.centered{
    text-align: center;
}

/* header */

header{
    
    padding: 20px;
    background-color: var(--color-secondary-color);
}

#img-logo{
    width: 100px;
    
}

.hamburger{
    
    font-size: 2em;
    color: var(--color-light-color);
}

/* main */

section:nth-child(2n + 0){
    background-color: var(--color-primary-color);
}

section:nth-child(2n + 1){
    background-color: var(--color-light-color);
}

.container{
    padding: 0 20px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.card{
    background-color: var(--color-bg-card);
    padding: 20px;
    padding-bottom: 0;
    border-radius: 20px;
    margin-top: 20px;
}

#Planning{
    padding-top: 50px;
}

h3{
    color: var(--color-secondary-color);
    font-weight: bold;
    font-size: 1.5em;
    line-height: 3em;
    
}


.card > .img-container> img{
    margin: 0 auto;
    max-width: 200px;
}

.svg-container {
    
    text-align: center;
    font-size: 7em;
}

.svg-container > i{
    color: var(--color-secondary-color);
   
}

.text{
    margin-bottom: 20px;
}


